<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">    
    <link href="/static/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet">    
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Kennel Card Generator</title>
  </head>

  <body>
    <header>
      <nav class="z-depth-2">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center">
              Kennel Card Generator
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container"">
        <div class="row">
          <div class="row" >
          <div class="col s12 m6">
            <div class="section">
            <h5>Edit the information for the dogs at:</h5>
            <ul class="browser-default">
              <li><a href="{{ sheet_link }}">This Google Spreadsheet</a></li>
              <li><a href="{{ folder_link }}">This Google Folder</a>: add pictures with the name of the dog as it appears in the Spreadsheet</li>
            </ul>
            </div>
          </div>

          <div class="col s8 m3">
            <div class="left-align teal-text" >
              <h3>Matchmakers Team</h3>
            </div>
          </div>

          <div class="col s4 m3">
            <div class="right-align">
              <img class="responsive-img" style="max-height:120px;padding-top:20px" src="/static/img/logo.png">
            </div>
          </div>

          </div>

          <form method="POST" action="/download">
            <div class="col s12 m6 push-m6">
              <p>
                If you add or remove dogs from the spreadsheet, make
                sure to click <b>Refresh</b>. When you have selected the cards to print, click <b>Download</b>.
              </p>
              <p>
                <a id="refresh" class="waves-effect waves-light btn" style="width:200px">Refresh</a>
              </p>
              <p>
                <button id="downloadbutton" class="btn waves-effect waves-light blue disabled" 
                        type="submit" style="width:200px" name="download">
                  Download
                </button>
              </p>
              <div id="progress-bar" style="display:none">
                <p>
                  Generating cards...
                </p>
                <div class="progress">
                  <div class="indeterminate"></div>
                </div>
              </div>
              <p>&nbsp;</p>
            </div>
            <div class="col s12 m6 pull-m6">
              <select id='custom-headers' multiple='multiple' name="cards">
              </select>
            </div>
          </form>
          
        </div>
      </div>
    </main>

    <div id="modal1" class="modals modal yellow accent-1">
      <div class="modal-content">
        <h4>Picture not found</h4>
        <p>Hey, I couldn't find a picture for <span class="picture-missing"></span>.</p>
        <p>Make sure to add a picture in the Google folder with name <span class="picture-missing"></span>.jpg
        (or .png, etc.)
        </p>
      </div>
      <div class="modal-footer yellow accent-1">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
      </div>
    </div>

    <div id="modal2" class="modals modal yellow accent-1">
      <div class="modal-content">
        <h4>Dog not found</h4>
        <p>Hey, I couldn't find the pup <span class="dog-missing"></span>.</p>
        <p>Make sure to hit the refresh button if rows have been added or removed from the spreadsheet.
        </p>
      </div>
      <div class="modal-footer yellow accent-1">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
      </div>
    </div>

    <div id="modal3" class="modals modal yellow accent-1">
      <div class="modal-content">
        <h4>Generic Exception</h4>
        <p>Please, copy and paste the message below and send it to support.</p>
        <div id="exception">
        </div>
      </div>
      <div class="modal-footer yellow accent-1">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
      </div>
    </div>

    <div class="row" id="info" style="display:none">
      <div class="col s12 m4 offset-m4">
        <div class="card-panel yellow accent-1" id="exception" style="display:none">
        </div>
      </div>
    </div>

    <footer class="page-footer" style="padding-top:0px">
      <div class="container">
            <p class="grey-text text-lighten-4">
              Kennel Cards idea, design, and software, is a collaboration with: Ryan Plunkett, Lara Cirkovic, Emily Pokorny, Adam Saraceno, Walter Moreira.
              <br>
              The design is released under a <a class="grey-text text-lighten-1" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
              <br>
              The software is released under the <a class="grey-text text-lighten-1" href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>.
            </p>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Walter Moreira
          <a class="grey-text text-lighten-4 right" href="https://github.com/austinpetsalive/kennel_card">Source Code</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/static/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/static/js/jquery.quicksearch.js" type="text/javascript"></script>

    <script type="text/javascript">
     function setup_select() {
       $('#custom-headers').multiSelect({
         selectableHeader: 
                           `All Cards:<br>
              <input type='text' id='search-selectable' class='search-input' autocomplete='off' placeholder='try \"Fido\"'>
              <br>
              <a href="#" id="selectall">select all</a>`,
         selectionHeader:
                         `Cards To Print:<br>
              <input type='text' id='search-selection' class='search-input' autocomplete='off' placeholder='try \"Fido\"'>
              <br>
              <a href="#" id="deselectall">deselect all</a>`,
         afterInit: function(ms){
           var that = this,
               $selectableSearch = $('#search-selectable');
               $selectionSearch = $('#search-selection');
               selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
               selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

           that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                       .on('keydown', function(e){
                                         if (e.which === 40){
                                           that.$selectableUl.focus();
                                           return false;
                                         }
                                       });

           that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                      .on('keydown', function(e){
                                        if (e.which == 40){
                                          that.$selectionUl.focus();
                                          return false;
                                        }
                                      });
           $('#selectall').click(function(){
             $('#custom-headers').multiSelect('select_all');
             return false;
           });
           $('#deselectall').click(function(){
             $('#custom-headers').multiSelect('deselect_all');
             return false;
           });
         },
         afterSelect: function(){
           this.qs1.cache();
           this.qs2.cache();
           set_download_button();
         },
         afterDeselect: function(){
           this.qs1.cache();
           this.qs2.cache();
           set_download_button();
         }
       });
     };

     function set_download_button() {
       $('#progress-bar').hide();
       if ($('.ms-selection .ms-selected').length > 0) {
         $('#downloadbutton').removeClass('disabled').prop('disabled', false);
       } else {
         $('#downloadbutton').addClass('disabled').prop('disabled', false)
       };
     };

     $(document).ready(function() {
       var url = "http://" + document.domain + ":" + location.port;
       var socket = io.connect(url + "/apa");

       $('.modals').modal({
         complete: function() {
           set_download_button();
         }
       });

       setup_select();

       socket.emit('refresh_dogs');

       $('#refresh').click(function() {
         socket.emit('refresh_dogs');
       });

       $('#downloadbutton').click(function() {
         $('#downloadbutton').addClass('disabled').prop('disabled', false);
         $('#progress-bar').show();
         socket.emit('check_download',
                     {'selected': $('.ms-selection .ms-selected').map(function(i, val) { return val.innerText; }).toArray()});
         return false;
       });

       socket.on('dogs', function(msg) {
         console.log('received dogs to print');
         console.log(msg);
         $('#custom-headers').empty();
         msg['names'].forEach(function(cur, idx) {
           console.log('processing ' + cur);
           $('#custom-headers').append(
             `<option value='${cur}'>${cur}</option>`);
         });
         $('#custom-headers').multiSelect('refresh');
       });

       socket.on('sheet_read', function(msg) {
         $('#reading').after("<span>ok. (" + msg['rows'] + " rows)</span>");
         $('#connecting').show();
       });

       socket.on('picture_not_found', function(msg) {
         $('.picture-missing').text(msg['for']);
         $('#modal1').modal('open');
       });

       socket.on('dog_not_found', function(msg) {
         $('.dog-missing').text(msg['for']);
         $('#modal2').modal('open');
       });

       socket.on('general_exception', function(msg) {
         $('#exception').html("<pre>"+msg['for']+"</pre>");
         $('#modal3').modal('open');
       });

       socket.on('do_download', function() {
         console.log('now do download');
         $('form').submit();
         set_download_button();
       });

       socket.on('disconnect', function() {
         console.log('oops, disconnected!');
       });

     });
    </script>

  </body>
</html>


